.sider :global .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
}

.menu :global .ant-menu-submenu-title {
  padding: var(--space-md) calc(var(--space-md) + 2px) !important;
  margin-inline: 0px;
}


/* Sub menu data */
/* .menu :global .ant-menu-item {
  padding: var(--space-md) calc(var(--space-md) + 2px) !important;
} */

/* .menu :global .ant-menu-submenu {
  margin-left: auto;
} */

/* .menu :global .ant-menu-submenu-inline {
  font-weight: 500;
  margin-left: 16px;
  overflow: visible;
  margin-top: 4px;
  margin-bottom: 12px;
  margin-right: 4px;
} */

/* .menu :global .ant-menu-item {
  font-weight: 500;
  overflow: visible;
} */

/* .menu :global .ant-menu-submenu.ant-menu-submenu-inline .ant-menu-item {
  margin-left: auto;
} */

.menu
  :global
  .ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-selected
  .ant-menu-submenu-title,
.menu :global .ant-menu-item-selected,
.menu :global .ant-menu-submenu-open .ant-menu-submenu-title,
.menu :global .ant-menu-item:hover {
  background: var(--clr-primary-gradient);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
}

.menu :global .ant-menu-submenu-open {
  color: var(--clr-white);
}

/* .menu :global .ant-menu-item {
  margin: 0;
  margin-bottom: var(--space-md);
  width: 100%;
  border-radius: 0;
} */

/* .menu:global.ant-menu-inline-collapsed .ant-menu-item {
  padding: 10px 20px !important;
  margin: 0 15px;
} */

.menu :global .ant-menu-item span {
  font-size: var(--text-lg);
}

.menu :global .ant-menu-item:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 7px;
  border-radius: 5px 0 0 5px;
  opacity: 0px;
  background-color: var(--clr-primary);
  top: 0;
  right: 0;
  transition: 0.5s opacity;
}

.SidebarBottom {
  padding: 15px 0 0;
  margin: 3.4rem;
  border-top: 1px solid red;
}
