// create-bill hospital & patient details section start

.invoice-create-bill-section {
  padding: 20px;

  .row {
    .main {
      padding: 15px;
      background-color: white;
      border-radius: 15px;

      .title {
        p {
          color: #030229;
          font-size: 26px;
          font-weight: 700;
        }
      }

      .hospital-details {
        padding: 20px;
        border: 2px solid #f4f4f4;
        border-radius: 15px;
        margin: 15px 0px;

        .content {
          .head {
            align-items: center;
            justify-content: space-between;

            p {
              font-size: 24px;
              font-weight: 700;
              color: #030229;
            }

            button {
              padding: 12px 14px;
              background-color: #0eabeb;
              border-radius: 10px;
              align-items: center;
              justify-content: center;

              svg {
                color: white;
                font-size: 24px;
              }

              span {
                display: inline-block;
                padding-left: 10px;
                font-size: 20px;
                font-weight: 600;
                color: white;
              }
            }
          }

          .details {
            justify-content: space-between;
            align-items: center;

            .left {
              width: 24%;

              .upload-logo {
                border: 2px dotted #d3d3d3;
                border-radius: 6px;
                padding: 20px;

                svg {
                  width: 36px;
                  height: 36px;
                  color: #a7a7a7;
                  margin: 0px auto;
                }

                p {
                  padding: 20px 0px 15px 0px;
                  color: #4f4f4f;
                  font-size: 14px;
                  font-weight: 700;
                  text-align: center;

                  span {
                    color: #5678e9;
                    font-size: 14px;
                    font-weight: 700;
                  }
                }

                h5 {
                  color: #a7a7a7;
                  font-size: 12px;
                  font-weight: 500;
                  text-align: center;
                }
              }
            }

            .right {
              width: 74%;

              .form-box {
                padding-top: 20px;

                form {
                  justify-content: start;
                  row-gap: 10px;
                  column-gap: 21px;

                  .input-box {
                    position: relative;
                    padding: 15px 0px;

                    .label {
                      position: absolute;
                      top: 4px;
                      left: 14px;
                      background-color: white;
                    }

                    input {
                      padding: 12px 14px;
                      border: 1px solid #d9d9d9;
                      border-radius: 10px;
                      width: 100%;

                      &:focus {
                        border: 1px solid #718ebf;
                      }

                      &::placeholder {
                        color: #a7a7a7;
                      }
                    }

                    .minus-circle {
                      position: absolute;
                      top: 6px;
                      right: -8px;

                      svg {
                        font-size: 20px;
                        color: #a7a7a7;
                      }
                    }

                    &:nth-child(1) {
                      width: 32%;

                      input {
                        width: 100%;
                      }
                    }

                    &:nth-child(2) {
                      width: 32%;

                      input {
                        width: 100%;
                      }
                    }

                    &:nth-child(3) {
                      width: 32%;

                      input {
                        width: 100%;
                      }
                    }

                    &:nth-child(4) {
                      width: 32%;

                      input {
                        width: 100%;
                      }
                    }

                    &:nth-child(5) {
                      width: 32%;

                      input {
                        width: 100%;
                      }
                    }

                    &:nth-child(6) {
                      width: 32%;

                      input {
                        width: 100%;
                      }
                    }

                    &:nth-child(7) {
                      width: 32%;

                      input {
                        width: 100%;
                      }
                    }

                    &:nth-child(8) {
                      width: 32%;

                      input {
                        width: 100%;
                      }
                    }

                    &:nth-child(9) {
                      width: 32%;

                      input {
                        width: 100%;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .patient-details {
        margin: 15px 0px;
        padding: 20px;
        border: 2px solid #f4f4f4;
        border-radius: 15px;

        .content {
          .head {
            align-items: center;
            justify-content: space-between;

            p {
              font-size: 24px;
              font-weight: 700;
              color: #030229;
            }

            button {
              padding: 12px 14px;
              background-color: #0eabeb;
              border-radius: 10px;
              align-items: center;
              justify-content: center;

              svg {
                color: white;
                font-size: 2opx;
              }

              span {
                display: inline-block;
                padding-left: 10px;
                font-size: 20px;
                font-weight: 600;
                color: white;
              }
            }
          }

          .details {
            .form-box {
              padding-top: 20px;

              form {
                justify-content: space-between;

                .input-box {
                  position: relative;
                  padding: 15px 0px;

                  .label {
                    position: absolute;
                    top: 4px;
                    left: 14px;
                    background-color: white;
                  }

                  input {
                    padding: 12px 14px;
                    border: 1px solid #d9d9d9;
                    border-radius: 10px;

                    &:focus {
                      border: 1px solid #718ebf;
                    }

                    &::placeholder {
                      color: #a7a7a7;
                    }
                  }

                  .minus-circle {
                    position: absolute;
                    top: 6px;
                    right: -8px;

                    svg {
                      font-size: 20px;
                      color: #a7a7a7;
                    }
                  }

                  select {
                    padding: 12px 14px;
                    border: 1px solid #d9d9d9;
                    border-radius: 10px;
                    outline: none;
                    background-color: white;
                    color: #a7a7a7;

                    &:focus {
                      border: 1px solid #718ebf;
                    }
                  }

                  &:nth-child(1) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }

                  &:nth-child(2) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }

                  &:nth-child(3) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }

                  &:nth-child(4) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }

                  &:nth-child(5) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }

                  &:nth-child(6) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }

                  &:nth-child(7) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }

                  &:nth-child(8) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }

                  &:nth-child(9) {
                    width: 24%;

                    select {
                      width: 100%;
                    }
                  }

                  &:nth-child(10) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }

                  &:nth-child(11) {
                    width: 24%;

                    select {
                      width: 100%;
                    }
                  }

                  &:nth-child(12) {
                    width: 24%;

                    input {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .save-btn {
        justify-content: end;

        button {
          background-color: #f6f8fb;
          padding: 12px 40px;
          color: #4f4f4f;
          font-size: 20px;
          font-weight: 600;
          border-radius: 10px;

          &:hover {
            background-color: #0eabeb;
            color: white;
          }
        }
      }
    }
  }
}

// create-bill hospital & patient details section end
