@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: var(--html);
}

body {
  font-family: var(--font-sans);
}

.h1,
h1 {
  @apply text-5xl;
}

.h2,
h2 {
  @apply text-4xl;
}

.h3,
h3 {
  @apply text-3xl;
}

.h4,
h4 {
  @apply text-2xl;
}

.h5,
h5 {
  @apply text-xl;
}

.h6,
h6 {
  @apply text-lg;
}

.p,
p {
  @apply text-sm;
}

::-webkit-scrollbar {
  display: none;
}

.announcement-card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--space-xl);
}

.word-break {
  word-break: break-all;
}

.edit-btn.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--clr-success);
  border-color: var(--clr-success);
}

.edit-btn {
  color: var(--clr-success);
}

.view-btn.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover,
.ant-btn-variant-dashed:not(:disabled):not(.ant-btn-disabled):hover {
  color: var(--clr-cult);
  border-color: var(--clr-cult);
}

.view-btn {
  color: var(--clr-cult);
}

.button.ant-btn > span:not(:only-child) {
  align-self: center;
}
