/* @import "../../css/variables.css"; */

.profile-header {
  background-color: var(--color1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.profile-header .breadcrumb {
  margin-bottom: 0;
  background: rgba(14, 171, 235, 0.04);
  border-radius: 30px;
  padding: 14px 20px;
  border: 0.3px solid #d9d9d9;
  display: inline-flex;
}

.profile-header .breadcrumb-item {
  font-size: 18px;
}

.profile-header .breadcrumb-item.active {
  color: var(--color2);
  font-weight: 400;
}

.profile-header .breadcrumb-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.profile-header .breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
}

.profile-header .search-container {
  position: relative;
  width: 335px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.profile-header .search-container .form-control:focus {
  background-color: var(--color9);
  border-color: transparent;
  border-radius: 50px;
  outline: 0;
  box-shadow: none;
}

.profile-header .search-container input {
  background-color: var(--color9);
  padding: 13px 50px;
  border-radius: 50px;
}

.profile-header .search-container .search-icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.profile-header .search-container .dropdown-toggle::after {
  display: inline-block;
}

.profile-header .search-container .btn-link {
  font-weight: 400;
  font-size: 16px;
  color: var(--color6);
  text-decoration: none;
}

.profile-header .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.profile-header .btn-link {
  text-decoration: none;
}

.profile-header .user-name {
  font-weight: 700;
  font-size: 16px;
  color: var(--color16);
}

.profile-header .user-role {
  font-weight: 500;
  font-size: 12px;
  color: var(--color5);
}

.profile-header .dropdown .dropdown-menu {
  background-color: var(--color1);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}

.profile-header .dropdown .dropdown-item {
  padding: 8px 10px;
  background-color: var(--color1);
  color: var(--color6);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.profile-header .dropdown .dropdown-item.active,
.profile-header .dropdown .dropdown-item:active,
.profile-header .dropdown .dropdown-item:focus {
  background-color: var(--color2);
  color: var(--color1);
}

.profile-header .dropdown .dropdown-item:hover {
  background-color: var(--color2);
  color: var(--color1);
}

.profile-header .dropdown-toggle::after {
  display: none;
}

.profile-header .notification-dropdown .notification-toggle {
  padding: 0;
  border: none;
  background: none;
}

.profile-header .notification-dropdown .notification-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.profile-header .notification-dropdown .notification-menu {
  width: 500px;
  max-height: 500px;
  overflow-y: auto;
  padding: 20px;
  border-radius: 15px;
}

@media (max-width: 992px) {
  .profile-header .notification-dropdown .notification-menu {
    width: 300px;
  }
}

.profile-header .notification-dropdown .notification-menu::-webkit-scrollbar {
  width: 8px;
}

.profile-header
  .notification-dropdown
  .notification-menu::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.profile-header
  .notification-dropdown
  .notification-menu::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.profile-header .notification-dropdown .notification-header {
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
  font-weight: 600;
  font-size: 18px;
  color: var(--color15);
}

.profile-header .notification-dropdown .notification-header .close-btn {
  width: 22px;
  height: 22px;
  border: none;
  background: var(--color12);
  color: var(--color1);
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-header .notification-dropdown .notification-item {
  padding: 20px 0;
  border-bottom: 1px solid #f1f1f1;
}

.profile-header .notification-dropdown .notification-item:last-child {
  border-bottom: none;
}

.profile-header .notification-dropdown .notification-item .notification-icon {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}

.profile-header
  .notification-dropdown
  .notification-item
  .notification-content {
  flex-grow: 1;
}

.profile-header
  .notification-dropdown
  .notification-item
  .notification-content
  h5 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  color: var(--color15);
}

.profile-header
  .notification-dropdown
  .notification-item
  .notification-content
  p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--color6);
}

.profile-header .notification-dropdown .notification-item .notification-time {
  font-size: 14px;
  color: var(--color6);
}

.profile-header .breadcrumb-container .btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--color10);
  padding: 10px;
}

.profile-header .breadcrumb-container .btn:first-child:active {
  background-color: transparent;
  border-color: transparent;
  color: var(--color10);
}

.profile-header .breadcrumb-container i.bi-text-left {
  font-size: 30px;
}

.meeting-conference-page .meeting-conference-title {
  font-weight: 700;
  font-size: 26px;
  color: var(--color15);
}

.meeting-conference-page .video-call-container {
  border-radius: 10px;
}

.meeting-conference-page .C7PnSkxqD6bOXhZlRlcc {
  height: auto;
  border: none;
  border-radius: 10px;
  padding-left: 25px;
  background: transparent;
}

.meeting-conference-page .E35Jx2Pn0MRpUgKdEqSQ > div {
  height: auto;
}

@media (max-width: 768px) {
  .profile-header .mobile-screen {
    display: none;
  }
  .profile-header .search-container {
    width: 100% !important;
    margin-bottom: 0px;
  }
}
